<div class="border"></div>
  <section class="main-container">
    <div class="container">

      <!-- list of steps -->
      <div class="container wrap">
        <div class="step current">
          <a href="index.html"><h2><span>1</span> Upload your photograph</h2></a>
        </div>

        <div class="step">
          <a href="edit.html"><h2><span>2</span> Design your Canvas</h2></a>
        </div>

        <div class="step last">
          <a href="checkout.html"><h2><span>3</span> Complete your purchase</h2></a>
        </div>
      </div>

      <!-- feature icons & description -->
      <div class="step current ">
        <div class="icon upload"></div>
        <p>Select an Image from your computer or drive and upload it here</p>
        <p><a href="#">Get Started &rarr;</a></p>
      </div>

      <div class="step">
        <div class="icon edit"></div>
        <p>Select Design Options for your Custom Canvas</p>
        <p><a href="#">Pricing &amp; Features &rarr;</a></p>
      </div>

      <div class="step last">
        <div class="icon complete"></div>
        <p>-Shipping Options<br />-Payment<br />-Create Account</p>
        <p><a href="#">Shipping Options &rarr;</a></p>
      </div>

      <a class="cta" rel="leanModal" name="modalHome" href="#modalHome">With Close Button</a>
    </div>
  </section>
<div class="border"></div>
<!-- end features -->

<div class="container wrap">
  <div class="intro">
    <h1>Welcome to Canvas Go!</h1>
    <p>We are in the process of building a gallery with stock images, If you have an image that you would like to have sold on our site let us know and we will get back to you with details on how this portion of our web site will function.</p>
  </div>

  <div class="testimonial">
    <p>"Not only does CanvasGO have amazing quality, but their prices allow me to make a profit and exceed my clients expectations every time I order from them."</p>
    <p class="author">- Javier Torres Studios</p>
  </div>
</div>
<!-- end intro & testimonial -->

<div class="container">
  <h1>What Some Others Have Printed</h1>
  <div id="slider">
      <a class="prev-button" href="#"></a>
      <div class="viewport">
          <ul class="overview">
              <li><img src="thumb.png" width="192" height="192" />By: Nick</li>
              <li><img src="thumb.png" width="192" height="192" />By: Joe</li>
              <li><img src="thumb.png" width="192" height="192" />By: John</li>
              <li><img src="thumb.png" width="192" height="192" />By: Doe</li>
              <li><img src="thumb.png" width="192" height="192" />By: Mike</li>
              <li><img src="thumb.png" width="192" height="192" />By: Steve</li>
              <li><img src="thumb.png" width="192" height="192" />By: Jack</li>
              <li><img src="thumb.png" width="192" height="192" />By: Bob</li>
          </ul>
      </div>
      <a class="next-button" href="#"></a>
    </div>
</div>

<!-- modal -->
<div id="modalHome" class="modal">
  <h3>Upload Your Photo</h3>
  <p>Consectetur adipiscing elit. In quam ante, placerat sed interdum sit amet, pretium et erat. Sed erat lectus, molestie eu varius eget, molestie ac urna. Donec gravida lectus quis enim volutpat cursus.</p>
  <%= form_for @canva, :html => {:multipart => true} do |f| %>
    <input id="canva_image" name="canva[image]" type="file" class="file"><br>
    <button class="red">Upload File</button>
  <% end %>
</div>
